@keyframes blinkZoom {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }
}

@keyframes blinkZoom2 {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    33% {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    67% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
}

@keyframes floatY {

    0% {
        transform: translateY(0)
    }

    30% {
        transform: translateY(-8px)
    }

    50% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }

}