@media screen and (max-width: 1200px) {
    .section-more__item-content-img {
        width: 100%;
        width: 120px;
        min-width: 120px;
    }

    .section-more__item-content-desc {
        font-size: 14px;
    }

    .support-list__list {
        grid-template-columns: repeat(8, 1fr);
        gap: 16px 24px;
    }

}

@media screen and (max-width: 991px) {
    .section-more__item-content-title {
        font-size: 24px;
    }

    .support-list__list {
        grid-template-columns: repeat(7, 1fr);
        gap: 16px 24px;
    }
}

@media screen and (max-width: 768px) {
    .section-more__list {
        flex-direction: column;
        height: auto;
    }

    .section-more__item-title {
        writing-mode: unset;
        top: 50%;
        left: 150px;
        text-align: left;
        transform: translate(0, -50%);
    }

    .section-more__item-number {
        display: block;
        top: 50%;
        left: 32px;
        transform: translate(0, -50%);
    }

    .support-list__list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .section-more__item-title {
        left: 100px;
    }

    .section-more__item-content-img {
        width: 100%;
        width: 80px;
        min-width: 80px;
    }

    .section-more__item-number {
        left: 32px;
        font-size: 24px;
    }

    .support-list__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .support-list__list {
        grid-template-columns: repeat(2, 1fr);
    }
}