.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    position: relative;
}

.section-hero {
    padding: 100px 0;
}

.section-hero__left {
    max-width: 500px;
}


/* Section Shocked */
.section-title {
    text-align: center;
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.section-desc {
    text-align: center;
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 16px;
    margin: 0 0 40px;
}

/* Circle*/

.circle-wrap {
    width: 100%;
    max-width: 625px;
    aspect-ratio: 1/1;
    position: relative;
}

.circle-wrap>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

}

.circle-wrap__inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle-wrap__group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
}

.circle-wrap__group-1 {
    width: 78%;
    height: 78%;
    border: 1px solid #CDDDF2;
}

.circle-wrap__group-2 {
    width: 57.38%;
    height: 57.38%;
    border: 1px solid #CDDDF2;
}

.circle-wrap__group-3 {
    width: 43%;
    height: 43%;
}

.circle-wrap__item {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.circle-wrap__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: blinkZoom 10s infinite;
}

.circle-wrap__item-1 {
    width: 12.87%;
    height: 12.87%;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle-wrap__item-1 img {
    animation-delay: 0.2s;
}

.circle-wrap__item-2 {
    width: 9.47%;
    height: 9.47%;
    left: 10%;
    top: 15%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-2 img {
    animation-delay: 0.4s;
}

.circle-wrap__item-3 {
    width: 12.23%;
    height: 12.23%;
    left: 46%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.circle-wrap__item-3 img {
    animation-delay: 0.6s;
}

.circle-wrap__item-4 {
    width: 9.47%;
    height: 9.47%;
    left: 85%;
    top: 9%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-4 img {
    animation-delay: 0.8s;
}

.circle-wrap__item-5 {
    width: 12.87%;
    height: 12.87%;
    left: 97%;
    top: 25%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-5 img {
    animation-delay: 1s;
}

.circle-wrap__item-6 {
    width: 12.23%;
    height: 12.23%;
    left: 87%;
    top: 77%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-6 img {
    animation-delay: 1.2s;
}

.circle-wrap__item-7 {
    width: 12.87%;
    height: 12.87%;
    left: 72%;
    top: 87%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-7 img {
    animation-delay: 1.4s;
}

.circle-wrap__item-8 {
    width: 9.47%;
    height: 9.47%;
    left: 23%;
    top: 87%;
    transform: translate(-50%, 0);
}

.circle-wrap__item-8 img {
    animation-delay: 1.6s;
}


.circle-wrap__item-main {
    width: 97.35%;
    height: 87.35%;
    overflow: visible;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-wrap__item-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: none;
    animation: floatY 5s infinite;
}

/* Section More */

.section-more__title {
    color: #1D1D1B;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.52px;
    text-align: center;
    margin-bottom: 16px;
}

.section-more__desc {
    color: #2A2B32;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.16px;
    max-width: 600px;
    margin: 0 auto;
}

.circle {
    position: relative;
    max-height: 640px;
    overflow: hidden;
}

.circle-box {
    position: relative;
    width: 100%;
    max-width: 1175px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    margin-top: 75px;
}

.circle-box__inner {
    width: 100%;
    height: 100%;
    max-width: 1175px;
}

.circle-box__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.circle-box__bg-1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #A4C7E0;
    background: #F9FBFC;
}

.circle-box__bg-2 {
    width: 79.57%;
    height: 79.57%;
    border-radius: 50%;
    border: 1px solid #A4C7E0;
    background: #EDF3F8;
}

.circle-box__bg-3 {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 1px solid #A4C7E0;
    background: #E3EDF5;
}

.circle-box__bg-4 {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 1px solid #A4C7E0;
    background: #DEEAF4;
}

.circle-box__item {
    width: 5.96%;
    height: 5.96%;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.circle-box__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-box__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-box__item-1 {
    top: 24%;
    left: 2%;
}

.circle-box__item-2 {
    top: 16%;
    left: 22%;
}

.circle-box__item-3 {
    top: 39%;
    left: 18%;
}

.circle-box__item-4 {
    top: -2%;
    left: 54%;
}

.circle-box__item-5 {
    top: 29%;
    left: 55%;
}

.circle-box__item-6 {
    top: 11%;
    left: 65%;
}

.circle-box__item-7 {
    top: 32%;
    left: 73%;
}

.circle-box__item-8 {
    top: 22%;
    left: 90%;
}

/* Section More List*/

.section-more__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 429px;
    max-width: 1175px;
    margin: 40px auto 0;
}

.section-more__item {
    flex: 1;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    cursor: pointer;
    flex: 1;
    transition: flex-grow 0.4s ease, background-color 0.3s ease, padding 0.3s ease;
    overflow: hidden;
}

.section-more__item-inner {
    transform: rotate(-90deg);
}


.section-more__item-number {
    color: #3C67FF;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.52px;
    text-align: center;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-more__item-title {
    writing-mode: sideways-rl;
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.32px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
}

.section-more__item-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
    height: 100%;
    position: relative;
}

.section-more__item-content-img {
    border-radius: 50%;
    overflow: hidden;
    width: 220px;
    min-width: 220px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0px;
    top: 0px;
}

.section-more__item-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-more__item-content-inner {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 500px;
    overflow: hidden;
}

.section-more__item-content-title {
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.section-more__item-content-desc {
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.16px;
    margin-bottom: 0;
}

.section-more__item.active {
    flex: 2.5;
    height: 100%;
    padding: 32px;
    background-color: #E2F1FC;
}

.section-more__item.active .section-more__item-title {
    display: none;
}

.section-more__item.active .section-more__item-number {
    top: 32px;
    left: 32px;
    transform: translate(0, 0);
    text-align: left;
}

.section-more__item.active .section-more__item-inner {
    transform: rotate(0deg);
}

.section-more__item.active .section-more__item-content {
    opacity: 1;
}

/* Section Shocked */
.section-shocked__title {
    text-align: center;
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.section-shocked__desc {
    text-align: center;
    color: #2A2B32;
    font-feature-settings: 'calt' off;
    font-family: "DM Sans";
    font-size: 16px;
    margin: 0 0 40px;
}

/* Table Pricing */
.table-pricing {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    overflow: auto;
}

.table-pricing table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #E0E0E0;
    min-width: 1000px;

}

.table-pricing table thead tr th {
    border: 1px solid #E0E0E0;
    padding: 24px;
    color: #3C67FF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.table-pricing table tbody tr td {
    border: 1px solid #E0E0E0;
    padding: 24px;
    text-align: center;
    border-top: none;
    border-bottom: none;
    color: #2A2B32;

    text-align: center;
    font-family: "DM Sans";
    font-size: 13.2px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-pricing table tbody tr.table-pricing__item-gen td span {
    color: #3C67FF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.table-pricing table tbody tr.table-pricing__item-regular td span {
    color: #F53E3E;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.table-pricing table tbody tr td:nth-child(3) {
    border-right: none;
}

.table-pricing table tbody tr td:nth-child(4) {
    border-left: none;
}

.table-pricing table tbody tr td:first-child {
    text-align: left;
    vertical-align: baseline;
    color: #666;

    font-family: "DM Sans";
    font-size: 15.6px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Support List */
.support-list {
    width: 100%;
    position: relative;
    border-radius: 16px;
    border: 1px solid #3A6FFF;
}

.support-list__title {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
    border-radius: 1000px;
    background: linear-gradient(90deg, #3A6FFF 16.02%, #2E95FF 67.31%, #9CB3FF 100%);
    padding: 16px 40px;
    width: fit-content;
    margin: 0 auto;
}

.support-list__list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 24px 40px;
    list-style: none;
}

/* Section WCG */
.section-wcg__circle {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    width: 743px;
    height: 504px;
}

.section-wcg__circle-item {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-wcg__circle-item-1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3C67FF;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05), -2px 4px 8px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blinkZoom2 10s infinite;
}

.section-wcg__circle-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05), -2px 4px 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blinkZoom 10s infinite;
}

.section-wcg__circle-icon-1 {
    top: 55%;
    left: 33%;
    animation-delay: 1s;
}

.section-wcg__circle-icon-2 {
    top: 42%;
    left: 77%;
    animation-delay: 3s;
}

.section-wcg__circle-icon-3 {
    top: 61%;
    left: 8%;
    animation-delay: 7s;
}

/* Section BAP */
.section-bap {
    padding: 180px 0 63px
}

.section-bap__left {
    max-width: 500px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.section-bap__left-title {
    color: #1D1D1B;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin: 0;
}

.section-bap__left-desc {
    color: #727272;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.section-bap__right {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: end;
}

.section-bap__right-img-1 {
    position: absolute;
    top: 90px;
}